<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="/shared/layout">
	<head>
		<title>Store</title>
	</head>
	
	<body>
		<div layout:fragment ="content">
			<form action="#" th:action="@{/stores/edit/__${store.id}__}" th:object="${store}" method="post">
				<label>Name</label>
				<input type="text" th:field="*{name}"/>
				<br/>
				<label>Address</label>
				<select th:field="*{address.id}">
					<option th:each="address : ${addresses}"
					 		th:value="${address.id}" 
					 		th:text="${address.toString()}">
					 </option>
				</select>
				<label>Owner(s)</label>
				<select disabled multiple="multiple" th:field="*{owners}">
					<option th:each="owner : ${allOwners}"
					 		th:value="${owner.id}" 
					 		th:text="${owner.firstName} + ' ' + ${owner.lastName}">
					 </option>
				</select>
				<input type="hidden" th:field="*{id}"/>
				<br/>
				<button type="submit">Send</button>
			</form>
		
		
		</div>
	</body>
</html>