<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="/shared/layout">
	<head>
		<title>Store</title>
	</head>
	
	<body>
		<div layout:fragment ="content">
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Address</th>
						<th>Edit</th>
						<th>Delete</th>	
					</tr>
				</thead>
				<tbody>
					<tr th:each="store, iStat : ${stores}">
						<td th:text="${iStat.count}"></td>
						<td th:text="${store.name}"></td>
						<td th:text="${store.address}"></td>
						<td>
							<a th:href="@{/stores/edit/__${store.id}__}">Edit Store</a>
						</td>
						<td>
							<a th:href="@{/stores/delete/__${store.id}__}">Delete Store</a>
						</td>
					</tr>
				</tbody>
			</table>
		
			<a th:href="@{/stores/create}">Create Store</a>
		</div>
	</body>
</html>