<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="/shared/layout">
	<head>
		<title>Home</title>
	</head>
	
	<body>
	<header layout:fragment="header">
		<div >
			<a th:href="@{/login}">Login</a>
		</div>
	</header>
		<div layout:fragment ="content">
			<div th:if="${param.error}">
	    		Username has already been used.
			</div>
			<form action="#" th:action="@{/register}" method="post">
				<label th:for="${#ids.next('username')}">User Name</label>
				<input type="text" id="username" name="username" /> <br/>
				<label th:for="${#ids.next('password')}">Password</label>
				<input type="password" id="password" name="password" />
				
				<button type="submit">Register</button>
			</form>
		</div>
	</body>
</html>